.App {
  text-align: center;
}
header{
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: gray;  
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.qr-logo{

  width:180px;
  height:180px;
  margin-right: 32vw;
}

main{
  background-color: rgb(242, 244, 231);

}